@model Facebook.Models.ViewModels.UserPostDTO

<div class="post-topbar">

    <div class="post-st">
        <ul>

            <li> <a id="popBtn" data-toggle="modal" data-target="#myModal">What's in your mind?</a></li>

        </ul>
    </div><!--post-st end-->
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-edit">

        <button type="button" class="btn btn-default btn-circle" data-dismiss="modal"><i class="la la-times-circle-o"></i></button>

        <!-- Modal content-->
        <div class="modal-content">

            <form enctype="multipart/form-data" asp-controller="Home" asp-action="CreatePost" method="post">
                <div class="modal-header model-header-edit">
                    <h3 id="createTitle">Create Post</h3>
                </div>

                <div class="modal-body">

                    <div class="post-body">
                        @*<div class="post-project-fields">*@
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea id="textPost" name="PostContent" onkeydown="checkform()" placeholder="What's in your mind..."></textarea>

                            </div>

                            <div class="col-lg-12 row " id="image-category">
                                @*<div class="col-3">
                                        <img id="post-image" width="50px" height="50px" class="" />
                                       <i class="la la-times-circle-o icon-img"></i>
                                    </div>*@
                            </div>
                            <div class="col-lg-12">
                                @*<label>Upload Image</label>*@
                                
                                <i class="fas fa-image" style="font-size:40px; color:#0e385f;"></i>

                                <input asp-for="image" class="btn text-white" style="background-color:#0e385f; width:55%" onchange="upload(event)">
                            </div>
                            <hr />
                        </div>
                    </div><!--post-project-fields end-->
                </div>
                <div class="modal-footer-Edit modal-footer" style="float:right">
                    <button type="button" class="btn btn-default bg-danger text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn text-white" style="background-color:#0e385f" id="submit" disabled>Post</button>
                </div>
            </form>
        </div>

    </div>
</div>



@*@section Scripts {
        <script>
            $("#postcreate").click(function () {
                alert($("#content").val);

                var o = {

                    PostContent: $("#content").val()
                }
                alert(PostContent);

                $.ajax({
                    /*url: 'Home/CreatePost'*/
                    url: '@Url.Action("CreatPost", "Home")',
                    method: 'POST',
                    data: JSON.stringify(o),
                    contentType: 'application/json',

                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    error: function (e) {
                        alert("error")
                    }

                })
            })

        </script>
    }*@
@*<h4>UserPostDTO</h4>
    <hr />*@
@*<div class="row">
        <div class="col-md-4">
            <form asp-action="CreatePost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PostContent" class="control-label"></label>
                    <input asp-for="PostContent" class="form-control" />
                    <span asp-validation-for="PostContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@




