@{
    ViewData["Title"] = "Home Page";
}


<div class="col-lg-3 col-md-4 pd-left-none no-pd">
    <div class="main-left-sidebar no-margin">
        <div class="user-data full-width">
            <div class="user-profile">
                <div class="username-dt">
                    <div class="usr-pic">
                        <img src="http://via.placeholder.com/100x100" alt="">
                    </div>
                </div><!--username-dt end-->
                <div class="user-specs">
                    <h3>@TempData["Users"]</h3>
                    <span>Graphic Designer at Self Employed</span>
                </div>
            </div><!--user-profile end-->
            <ul class="user-fw-status">
                <li>
                    <h4>Friends</h4>
                    <span>34</span>
                </li>
                <li>
                    <a href="Profile/" title="">View Profile</a>
                </li>
            </ul>
        </div><!--user-data end-->
        <div class="tags-sec full-width">
            <ul>

                <li><a href="#" title="">About</a></li>
                <li><a href="#" title="">Language</a></li>
                <li><a href="#" title="">Copyright Policy</a></li>
            </ul>
            <div class="cp-sec">
                <img src="~/images/facebook-logo-word.png" alt="fblogo" />
                <p>&copy; Copyright 2020</p>
            </div>
        </div><!--tags-sec end-->
    </div><!--main-left-sidebar end-->
</div>


<div class="col-lg-6 col-md-8 no-pd">
    <div class="main-ws-sec">
    @await Html.PartialAsync("CreatePost.cshtml")
        <div class='posts-section' id="posts"></div>
    </div>
</div>


@section scripts {

    <script src="~/js/createPost.js"></script>

    <script type="text/javascript" src="~/js/getAllPosts.js"></script>

    <script src="~/js/UploadImage.js"></script>


}
