@{
    ViewData["Title"] = "Home Page";
}

@*@if (((List<Actions>)ViewData["Actions"]).Where(x => x.Url == "/Home/Privacy").Any())
    {
        <a href="/Home/Privacy">Go To Privacy</a>
    }*@
@await Html.PartialAsync("CreatePost.cshtml")
@*wait Html.PartialAsync("Posts.cshtml")*@

@*@Html.ActionLink("All", "GetPosts", "Home")*@
<div class='posts-section' id="posts"></div>


@section scripts {
    <script type="text/javascript" src="~/js/getAllPosts.js"></script>
}
